!
interface gi0/0
 ip address {{ item.link_supernet | ipmath(9) }} {{ item.link_netmask }}
 duplex auto
 speed auto
 no shutdown
!
!
interface gi0/1
 ip address {{ item.link_supernet | ipmath(5) }} {{ item.link_netmask }}
 duplex auto
 speed auto
 no shutdown
!
!
interface gi0/2
 ip address {{ item.link_supernet | ipmath(22) }} {{ item.link_netmask }}
 duplex auto
 speed auto
 no shutdown
!
