!
router eigrp 213
{% for network in item.links %}
 network {{ network.link_subnet }} {{ network.link_wildcard }}
{% endfor %}}
 passive-interface default
{% for link in item.links%}
 no passive-interface {{ link.link_port }}
{% endfor %}
!
